body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}